<h1><%= @author.name %>'s Profile</h1>
<p>Bio: <%= @author.bio %></p>
<h3>Articles by this author:</h3>
<% @articles.each do |article| %>
	<li><%= article.title %>, <a href="/articles/<%= article.slug %>">View Article</a></li>
<% end %>
